.wraperSearch {
  max-height: 500px;
  overflow-y: scroll;
  max-width: 440px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  border-radius: 0.5rem;
}
